
body{
    margin: 0px;
}
#body-header{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color:rgb(72, 67, 94);

}
#body section div{
    padding: 400px;
}
     
 


.horizontal-list{
font-size: 1.5vw;
    text-align: center;
    list-style: none;
    margin-top: 10px;
}


.horizontal-list li{
    display: inline-block;
    padding: 10px;
margin-top: 10px;
}

.horizontal-list li a{
    color: rgb(254, 254, 254);
    text-decoration: none;
    transition: color 0.5s,border-bottom 4s;
}

.horizontal-list li a:hover{
    color: rgb(197, 201, 214);
    border-bottom: 1px solid rgb(154, 149, 169) ;
}
#body-header #about-contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#body-header #about-contact #image{
    margin: 20px;
    padding-left: 10px;
    
}
#about-contact #contact-details{
    padding: 20px;
    color: rgb(251, 250, 250);
    text-align: center;
    font-size: 1.5rem;
}
#about-contact #contact-details #name{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;    }


 #body-header #about-contact #image img{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
    margin-top:60px;
    box-shadow: 0px 0px 5px 5px white;
}


#career_objective{
font-size: 1rem;
word-spacing: 3px;
font-weight: 200rem;
font-style: normal;
margin-top: -10px;
border: 3px solid rgb(25, 9, 12) ;
}
#career_objective div{
    padding: 100px;
    background-color:   rgb(237, 244, 242);
}
#career_objective span {
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
color: rgb(3, 3, 29);

font-family: Georgia, 'Times New Roman', Times, serif;
}
#career_objective div #car{
    color: rgb(73, 10, 10);
    border-radius: 20%;
    padding: 30px;
}
#education{
    background-color: rgb(242, 230, 230);
    text-align: center;
    border: 3px solid rgb(72, 67, 94);
    color: rgb(12, 2, 2);
    font-size: 2em;
    padding: 100px;

}
#education h1 span{
    color: rgb(3, 3, 29);
    /* display: inline-block; */
   
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#acadmic{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* display: inline-block; */
    padding: 5px;
    color: rgb(248, 246, 246);
    font-family: Georgia, Times, 'Times New Roman', serif;  
      /* width: 400px;    */

}

#bca{
    background-color: rgb(72, 67, 94);
margin: 10px;
width: 250px;
  display: inline-block;

}
#twelth{
    background-color:rgb(72, 67, 94);
    margin: 10px;


    width: 250px;   
     display: inline-block;


}
#tenth{
    background-color: rgb(72, 67, 94);
    margin: 10px;

    width: 250px;    
    display: inline-block;


}
#skills{
    color: rgb(3, 3, 29);
    font-size: 2em;
    font-weight: 300;
    background-color:   rgb(237, 244, 242);
    padding: 100px;

    border: 3px solid rgb(72, 67, 94);}
    #skills h1 span{


        font-family: Georgia, 'Times New Roman', Times, serif;    }
section h1{
    text-align: center;
}
#skills #block{
    flex-direction: row;
    justify-content: space-around;
    display: grid;
    padding: 5px;
margin-left: 120px;    text-align: center;
    justify-content: center;
grid-template-columns: repeat(2,1fr);
}
@media only screen and (max-width:600px){
    #skills #block{
        flex-direction: row;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
      padding: 2px;
      width: 100px;
      margin-left: -5px;
    }
}
#skills #block #skill{
margin:15px;
border-bottom: 2px solid rgb(73, 10, 10);

color:rgb(73, 10, 10);  
font-family: Georgia, Times, 'Times New Roman', serif;    width: 400px;   
font-size: 1.5rem;
    /* background-color: rgb(72, 67, 94); */
    /* border-radius: 30%; */
    align-items: center;
    padding: 20px;

}
@media only screen and (max-width:600px){
    #skills #block #skill{
        width: 250px;}
}
#project {
    padding: 100px 20px;
    background-color: rgb(241, 233, 239);
    font-size: 2em;
    border: 3px solid rgb(72, 67, 94);}
    #project h1 span{
        color: rgb(3, 3, 29);

        font-family: Georgia, 'Times New Roman', Times, serif;    }
#project #pro{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
#project #pro div{
    width: 500px;
  

margin: 40px;}
#project #pro div dd{
    font-weight: bold;
    
}
#project #pro div dl{
    /* background-color: rgb(72, 67, 94); */
    color:rgb(73, 10, 10);  
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    font-size: 1rem;
border-radius: 20px;}
#certifications{
    padding: 100px ;
    background-color: rgb(237, 244, 242);
padding-bottom: 10px;
    font-size: 2em;
    font-weight: 300;
    border: 3px solid rgb(72, 67, 94);}
    #certifications h1 span{
        color: rgb(3, 3, 29);

        font-family: Georgia, 'Times New Roman', Times, serif;    }
#mainblock{
    position: relative;
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    padding-bottom: 20px;
flex-wrap: wrap;

}
#cert{
    display: inline-block;
width: 250vw;
    position: relative;
    padding: 5px;
    width: 60vw;
padding: 5px;
align-items: centre;
}
#cert span{
    justify-content: space-between;
    display: block;
    position: relative;
    padding: 20px;

}
#cert span div{
    background-color:  rgb(72, 67, 94);
    color: rgb(235, 246, 252);
    border-radius:10%;
    padding: 15px;
    font-size: 1rem;
    font-family: Georgia, Times, 'Times New Roman', serif;

}

#project{
    width: 100%;
}
#resume{
    width: auto;
    padding: 100px 6px;
    background-color: rgb(251, 248, 250);   
     border: 3px solid rgb(72, 67, 94);
     text-align: center;
font-size: 1.5rem;
    }
    #resume h1 span{
        color: rgb(3, 3, 29);
        border-bottom: 4px solid;

        font-family: Georgia, 'Times New Roman', Times, serif;   
    }

#last{
    height: 400px;
    position: relative;
background-color: black;
color: white;
padding: 80px;
    border: 3px solid rgb(72, 67, 94);

}
#last div{
    width: 100%;
    display: inline-block;
    
    font-size: 1.5rem;
}
#last div div{
    position: relative;
}
#text span{
    font-weight: bold;
    color: rgb(242, 242, 248);
    border-bottom: 4px solid;

    font-family: Georgia, 'Times New Roman', Times, serif;

}
#text{
    position: relative;
    display: inline-block;
    color: rgb(248, 242, 242);
    text-align: center;
    padding: 40px 5px;
    
}
 #foot{
    width: auto;
    display: flex;
    flex-wrap: wrap;
padding: 15px;
    justify-content: space-around;
    background-color: black;
    margin-top: -150px;
    position: sticky;
}

