.horizontal-list{
    background-image: linear-gradient(rgb(241, 249, 247),rgb(52, 174, 160));
font-size: 2vw;
    height: 250px;
    text-align: center;
    list-style: none;
    border: 3px solid rgb(145, 165, 173);
    margin-top: 10px;
}
/* .horizontal-list div{
    background-color: rgb(38, 38, 116);
    margin: 0px 8px 8px 0px;
margin-left: -30px;
margin-top: 10px;
border-radius: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;} */

.horizontal-list li{
    display: inline-block;
    padding: 10px;
margin-top: 10px;
}

.horizontal-list li a{
    color: rgb(10, 3, 29);
    text-decoration: none;
    transition: color 0.5s,border-bottom 4s;
}

.horizontal-list li a:hover{
    color: rgb(10, 26, 85);
    border-bottom: 1px solid rgb(154, 149, 169) ;
}

#image{
    margin: auto;
    text-align: center;
    margin-top: -70px;
}
#image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px white;
}
#contact-details{
    background-color:  rgb(75, 137, 137);
color: white;
    padding: 10px 40px 10px 40px;
    border-top: 4px solid rgb(61, 61, 177);
    text-align: center;
    border-bottom: 5px solid hwb(251 11% 40%);
    font-size: 1.5em;

}
#contact-details p{
padding: 10px;
border-radius: 10px;
}
#career_objective{
color: hsla(20, 72%, 6%, 0.979);
background-color:  rgb(75, 137, 137);
font-size: 2em;
word-spacing: 3px;
font-weight: 200rem;
font-style: normal;
}
#career_objective div{
    padding: 10px;
    background-color:   rgb(187, 214, 205);
}
#career_objective div #career{
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 300;
color: rgb(3, 3, 29);
}
#career_objective div #car{
    margin:4% 1%;
    color: white;
    border-radius: 10%;
    background-color: rgb(17, 17, 81);
    border: 4px solid  rgb(75, 137, 137);
    padding: 10px;
}
#education{
    background-color: rgb(75, 137, 137);
    text-align: center;
    border-top: 5px solid rgb(29, 22, 94);
    color: white;
    font-size: 2em;
    font-weight: 300;
}
#acadmic{
    display: inline-block;
    padding: 5px;
    background-color: rgb(17, 17, 81);
    color: rgb(4, 17, 21);
}

#bca{
    background-color:   rgb(187, 214, 205);

width: 250px;    display: inline-block;
border: 4px solid rgb(227, 236, 236);

}
#twelth{
    background-color: rgb(187, 214, 205);


    width: 250px;    display: inline-block;
    border: 4px solid  rgb(227, 236, 236);


}
#tenth{
    background-color:  rgb(187, 214, 205);

    width: 250px;    
    display: inline-block;
    border: 4px solid  rgb(227, 236, 236);


}
#skills{
    color: rgb(1, 7,7);
    font-size: 2em;
    font-weight: 300;
    background-color: rgb(187, 214, 205);
    border-top: 4px solid  rgb(17, 101, 101);

}
section h1{
    text-align: center;
}
#skills #block{
    flex-direction: row;
    justify-content: space-around;
    display: flex;
flex-wrap: wrap;
}

#skills #block #skill{
    margin: 30px;

    width: 200px;
    background-color: rgb(17,17,81);
    border-radius: 20%;
    align-items: center;

}
#skills #block #skill span{
padding: 20px;
width: 60%;
position: relative;
color: rgb(253, 252, 252);
background-color: rgb(75, 137, 137);
display: block;

border-radius: 20%;
justify-content: space-between;

}
#certifications{
    background-color: rgb(75, 137, 137);

    color: rgb(241, 244, 246);
    font-size: 2em;
    font-weight: 300;
    border-top: 4px solid  rgb(33, 88, 90);
}
#mainblock{
    position: relative;
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
flex-wrap: wrap;

}
#cert{
    display: inline-block;
width: 250vw;
    position: relative;
    padding: 5px;
    width: 60vw;
padding: 5px;
align-items: centre;
}
#cert span{
    justify-content: space-between;
    display: block;
    position: relative;
    padding: 20px;

}
#cert span div{
    background-color: rgb(17, 17, 81);
    color: rgb(235, 246, 252);
    border-radius:10%;
    padding: 15px;
}
/* #cert:nth-child(2n){
position: relative;
margin: 20px 55% 5px;}
#cert:nth-child(2n+1){
    position: relative;
    margin: 0px 5% 5px;}
    #time-line{
        position: absolute;
        margin-top: -210vh;
        left: 50%;
        border: 3px dashed rgb(93, 93, 130);
        width: 0px;
        height: 200vh;
    } */
/* #indicator{
    position: absolute;
    margin-top: -400px;
    left: 50%;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: blue;
} */
#last{
    position: relative;
    border-top: 4px solid rgb(45, 150, 154);

}
#last div{
    width: 100%;
    position: relative;
    display: inline-block;
    justify-content: center ;
    font-size: 2rem;
    font-weight: 300;
    background-image: linear-gradient(rgb(241, 249, 247),rgb(94, 146, 148));
}
#last div div{
    position: relative;
}
#text{
    position: relative;
    display: inline-block;
    color: rgb(7, 5, 5);
    text-align: center;
}
